<!-- ************************************************************************** -->
<!-- *********************** Top Bar Header *********************** -->
<!-- ************************************************************************** -->


<section id="action" class="responsive">
        <div class="vertical-center">
             <div class="container">
                <div class="row">
                    <div class="action take-tour">
                        <div class="col-sm-7 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                            <h1 class="title">Simply the Best Choice.</h1>
                            <p>We like to keep things <strong>Affordable</strong>, <strong>Effective</strong>, and <strong>Extremely Healthy</strong>.</p>
                        </div>
                        <div class="col-sm-5 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                            <div class="check-display-button">
                                <a href="#ultraimmune" class="btn btn-common anchor">VIEW PRODUCT</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </section>
    <!--/#action-->


<!-- *************************************************************** -->
<!-- *********************** LightBox Photos *********************** -->
<!-- *************************************************************** -->


    <a name="ultraimmune"></a>
    <section id="portfolio-information" class="padding-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                <%= image_tag('product/5.png', class: 'product-1', alt: 'Ultra Immune') %>
                    <hr>

                    <!-- *************************** Lightbox Image 1 *************************** -->

                    <div class="col-sm-3">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                <%= image_tag('product/ui-product-right.png', class: 'img-responsive', alt: 'Product') %>
                                </div>
                                <div class="portfolio-view">
                                    <ul class="nav nav-pills">                
                                        <%= content_tag :li do %>
                                            <%= link_to fa_icon("eye"), image_path('product/ui-product-right.png'), data: { lightbox: "example-set" } %>
                                        <% end %>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- *************************** Lightbox Image 2 *************************** -->

                    <div class="col-sm-3">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <%= image_tag('product/ui-product-left.png', class: 'img-responsive', alt: 'Product') %>

                                </div>
                                <div class="portfolio-view">
                                    <ul class="nav nav-pills">
                                        <%= content_tag :li do %>
                                            <%= link_to fa_icon("eye"), image_path('product/ui-product-left.png'), data: { lightbox: "example-set" } %>
                                        <% end %>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- *************************** Lightbox Image 3 *************************** -->

                    <div class="col-sm-3">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                <%= image_tag('product/moringa-plant.png', class: 'img-responsive', alt: 'Moringa Tree') %>
                                </div>
                                <div class="portfolio-view">
                                    <ul class="nav nav-pills">
                                       <%= content_tag :li do %>
                                            <%= link_to fa_icon("eye"), image_path('product/moringa-plant.png'), data: { lightbox: "example-set" } %>
                                        <% end %>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- *************************** Lightbox Image 4 *************************** -->

                    <div class="col-sm-3">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                <%= image_tag('product/moringa-powder.png', class: 'img-responsive', alt: 'Moringa Powder') %>
                                </div>
                                <div class="portfolio-view">
                                    <ul class="nav nav-pills">
                                        <%= content_tag :li do %>
                                            <%= link_to fa_icon("eye"), image_path('product/moringa-powder.png'), data: { lightbox: "example-set" } %>
                                        <% end %>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>


<!-- ************************************************************ -->
<!-- *********************** Ultra Immune *********************** -->
<!-- ************************************************************ -->


                </div>
                <div class="col-sm-6 product-outline">
                    <div class="project-name overflow">
                        <h1 class="title">Ultra Immune<sup>®</sup></h1>
                        <ul class="nav navbar-nav navbar-default red-font small tag-icons">
                            <li><i class="fa fa-clock-o"></i>Take Daily</li>
                            <li><i class="fa fa-heartbeat"></i>Immune Support Supplement</li>
                        </ul>
                    </div><br>
                    
                     <!-- *************************** Product Info *************************** -->

                    <div class="project-info overflow">
                        <h3>Product Info</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus nibh sed elimttis adipiscing. Fusce in hendrerit purus. Suspendisse potenti. Proin quis eros odio, dapibus dictum mauris. Donec nisi libero, adipiscing id pretium eget, consectetur sit amet leo. Nam at eros quis mi egestas fringilla non nec purus.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus nibh sed elimttis adipiscing. Fusce in hendrerit purus. Suspendisse potenti. Proin quis eros odio, dapibus dictum mauris. Donec nisi libero, adipiscing id pretium eget, consectetur sit amet leo. Nam at eros quis mi egestas fringilla non nec purus.
                        </p><br>

                         <!-- *************************** List *************************** -->

                        <ul class="elements">
                            <li><i class="fa fa-angle-right"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                            <li><i class="fa fa-angle-right"></i> Donec tincidunt felis quis ipsum porttitor, non rutrum lorem rhoncus.</li>
                            <li><i class="fa fa-angle-right"></i> Nam in quam consectetur nulla placerat dapibus ut ut nunc.</li>
                        </ul>
                    </div><br>

                     <!-- *************************** Core *************************** -->

                    <div class="skills overflow">
                        <h3>Core Components</h3>
                        <ul class="nav navbar-nav navbar-default red-font small tag-icons">
                            <li><i class="fa fa-check-square"></i>SelenoExcell<sup>®</sup> Selenium</li>
                            <li><i class="fa fa-check-square"></i>Moringa Oleifera</li>
                            <li><i class="fa fa-check-square"></i>Glutathione Peroxidase (GPX)</li>
                            <li><i class="fa fa-check-square"></i>Superoxide Dismutase (SOD)</li>
                            <li><i class="fa fa-check-square"></i>Catalse</li>
                        </ul>
                    </div><br><br>

                    <!-- <div class="client overflow ">
                        <h3>Daily Dosage</h3>
                        <ul class="nav navbar-nav navbar-default">
                            <li><span class="label label-danger ">Adults (14 and older)</span><span class="small"> 2 - 4 capsules daily</span></li><br>
                            <li><span class="label label-danger">Children (4 - 13)</span><span class="small"> 2 capsules daily</span></li><br>
                            <li><span class="label label-danger">Children (1 - 3)</span><span class="small"> 1 capsules daily</span></li><br>
                            <li><span class="label label-danger">Pregnant / Breastfeeding Mothers</span><span class="small"> 2 capsules daily</span></li><br>
                        </ul>
                    </div> -->

                </div>
            </div>
        </div>
    </section>
     <!--/#product-page-->
